### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

### VS Code ###
*.code-workspace
.vscode/

### PyCharm ###
.idea/

### Python ###
*.pyc
*.pyo
*.egg-info/
.cache/
.mypy_cache/
.coverage
.tox
.cache
.env

### Misc ###
*.log
*.sqlite3
