# Database settings
PGDATABASE="{{ cookiecutter.project_dir }}"
PGHOST="db"
PGUSER="postgres"
PGPASSWORD=""
PGPORT=5432

# Set DEBUG = 0 to turn off Debug
DEBUG=1

# Don't use this secret key in production obviously
SECRET_KEY="top-secret"

{% if cookiecutter.redis %}
REDIS_HOST="redis"
{% endif %}
