Django<2.3
django-extensions==2.1.6
django-rest-auth==0.9.3
djangorestframework==3.9.2
django-rest-swagger==2.2.0
envparse==0.2.0
psycopg2-binary<2.8
django-db-geventpool
bumpversion<0.6
gunicorn
gevent==1.4.0
django-health-check==3.9.0

# Logging
python-json-logger==0.1.10
structlog==18.1.0
django-tracer==0.9.3
{% if cookiecutter.redis == 'True' %}
redis==3.2.0
{% endif -%}
{% if cookiecutter.celery == 'True' %}
# Celery
celery==4.2.0
{% endif %}
# Testing
django-test-plus==1.1.1
factory-boy==2.11.1
pytest==4.3.0
pytest-cov==2.6.1
pytest-django==3.4.8
pytest-sugar==0.9.2
pytest-xdist==1.26.1
whitenoise<3.4.0
